<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h2>The Dress</h2>
			<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="300" data-pin-scale-width="100" href="https://www.pinterest.com/gws/wedding-dresses/"></a>
			<div><button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.open()" btn-sm text-center" data-toggle="modal">Make a board</button></div>
		</div>

		<div class="col-md-4">
			<h2>Cake</h2>
			<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="300" data-pin-scale-width="100" href="https://www.pinterest.com/colinweddings/wedding-cakes/"></a>
			<div><button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.open()" btn-sm text-center" data-toggle="modal">Make a board</button></div>
		</div>

		<div class="col-md-4">
			<h2>Flowers</h2>
			<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="300" data-pin-scale-width="100" href="https://www.pinterest.com/whimwondwed/wedding-flowers/"></a>
			<div><button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.open()" btn-sm text-center" data-toggle="modal">Make a board</button></div>
		</div>

		<div class="col-md-4">
			<h2>Bridesmaids Dresses</h2>
			<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="300" data-pin-scale-width="100" href="https://www.pinterest.com/theknot/bridesmaid-dresses/"></a>
			<div><button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.open()" btn-sm text-center" data-toggle="modal">Make a board</button></div>
		</div>

		<div class="col-md-4">
			<h2>Decor</h2>
			<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="300" data-pin-scale-width="100" href="https://www.pinterest.com/whimwondwed/wedding-decor/"></a>
			<div><button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.open()" btn-sm text-center" data-toggle="modal">Make a board</button></div>
		</div>

		<div class="col-md-4">
			<h2>Shoes</h2>
			<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="300" data-pin-scale-width="100" href="https://www.pinterest.com/youyourwedding/wedding-shoes/"></a>
			<div><button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.open()" btn-sm text-center" data-toggle="modal">Make a board</button></div>
		</div>

	</div>
</div>  <!-- close container -->


<script async defer src="//assets.pinterest.com/js/pinit.js"></script>