<div class="intro container-fluid">
  <div class="text-center">
    <div class="logo"><h2>About</h2>
  	</div>
  </div>
</div><!-- /.intro -->

<!-- ///////////Section about/////////// -->
<section class="split">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-2 split-img centered">
                <img src="../frontend-assets/img/fallBouquet.jpg">
            </div>
            <div class="col-lg-4 col-lg-offset-2 split-text centered">
                <h2>Lorem ipsum dolor sit.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quas quam corporis veniam asperiores cupiditate distinctio esse ipsa, quo placeat omnis ipsum voluptate, modi maxime eveniet, vitae excepturi atque? Nulla recusandae, molestiae id, iusto eos cum beatae? Adipisci explicabo voluptas laudantium, ipsa sunt molestias perferendis tempore eum, placeat beatae vel!.</p>
                <p><a class="btn btn-default">Loren Ipsum</a></p>
            </div>
        </div>
    </div>
</section>
<!-- ///////////End about/////////// -->



<!-- ///////////Section divider1/////////// -->
<section class="section-divider divider1">
    <div class="container-fluid">
        <h2>Lorem ipsum dolor sit amet</h2>
        <hr>
        <p>Apply a background image in css...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, atque.</p>
    </div>
</section>
<!-- ///////////End section divider1////////// -->

<section>
    <div class="features container-fluid">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="logo"><h2>Features</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, voluptatum, corporis nesciunt cupiditate at et eius, quisquam ratione molestias illum numquam quos voluptatibus eos? Accusamus alias autem tenetur porro harum vel nihil nulla officia dignissimos animi similique eveniet maxime ipsam officiis atque natus laboriosam, perspiciatis commodi dolores iste nemo dolore.</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-3 ">
            <div class="hovereffect">
              <img class="img-responsive" src="../frontend-assets/img/jjlove.jpg" alt="">
              <div class="overlay">
                <h2>Calendar</h2>
                <p>Create and sync a calendar for the bridal party</p>
                <a class="info" href="#">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3 ">
            <div class="hovereffect">
              <img class="img-responsive" src="../frontend-assets/img/ring.jpeg" alt="">
              <div class="overlay">
                <h2>Pinterest</h2>
                <p>Create Pinterest boards with the bridal party</p>
                <a class="info" href="#">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3 ">
            <div class="hovereffect">
              <img class="img-responsive" src="../frontend-assets/img/happily.jpeg" alt="">
              <div class="overlay">
                <h2>Message</h2>
                <p>Send messages to the bridal party</p>
                <a class="info" href="#">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3 ">
            <div class="hovereffect">
              <img class="img-responsive" src="../frontend-assets/img/jjlove.jpg" alt="">
              <div class="overlay">
                <h2>Calendar</h2>
                <p>Create and sync a calendar for the bridal party</p>
                <a class="info" href="#">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3 ">
            <div class="hovereffect">
              <img class="img-responsive" src="../frontend-assets/img/happily.jpeg" alt="">
              <div class="overlay">
                <h2>Pinterest</h2>
                <p>Create Pinterest boards with the bridal party</p>
                <a class="info" href="#">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3 ">
            <div class="hovereffect">
              <img class="img-responsive" src="../frontend-assets/img/ring.jpeg" alt="">
              <div class="overlay">
                <h2>Message</h2>
                <p>Send messages to the bridal party</p>
                <a class="info" href="#">Go</a>
              </div>
            </div>
          </div>
      </div> <!-- / grid row -->
    </div>  
    </div>
</section> <!-- /.features -->


<div class="founder container-fluid">
  <div class="text-center">
    <div class="logo"><h2>Founders</h2>
  	</div>

  	<div class="row">
  		<div class="col-md-6 founder">
  			<img src="../frontend-assets/img/shirl.jpg">
        <h3>Shirlette Chambers</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aut officiis, laudantium quam maxime fugiat earum ipsum suscipit aliquid voluptas eos eaque harum reprehenderit voluptate non nam distinctio excepturi eum obcaecati nemo beatae libero? Harum quaerat minus, libero omnis debitis, a qui odio voluptatem, quasi magnam vel nostrum numquam similique.</p>
      </div>
  		<div class="col-md-6">
  			<img src="../frontend-assets/img/tam.jpg">
        <h3>Tammara Chambers</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aut officiis, laudantium quam maxime fugiat earum ipsum suscipit aliquid voluptas eos eaque harum reprehenderit voluptate non nam distinctio excepturi eum obcaecati nemo beatae libero? Harum quaerat minus, libero omnis debitis, a qui odio voluptatem, quasi magnam vel nostrum numquam similique.</p>
      </div>
  	</div>

  </div>
</div><!-- /.founder -->

<section>

	
</section>



