<div class="intro container-fluid">
  <div class="text-center">
    <div class="logo"><h2>About</h2>
  	</div>
  </div>
</div><!-- /.intro -->

<!-- ///////////Section about/////////// -->
<section class="split">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-2 split-img centered">
                <img src="../frontend-assets/img/fallBouquet.jpg">
            </div>
            <div class="col-lg-4 col-lg-offset-2 split-text centered">
                <h2>Online Wedding Planner</h2>
                <p>The wedding planner you've been waiting for has now arrived. Collaborate with your wedding party and share ideas and set dates all in one place. Utilize the convenience of your Google account and chat with the members of your bridal party flawlessly and conveniently.</p>
                <p><a class="btn btn-default">See More...</a></p>
            </div>
        </div>
    </div>
</section>
<!-- ///////////End about/////////// -->



<!-- ///////////Section divider1/////////// -->
<section class="section-divider divider1">
    <div class="container-fluid">
        <h2>Look what we have to offer</h2>
        <hr>
        <p>So much you can do while saving time and money. Your bridal party will love this as mush as you!!!</p>
    </div>
</section>
<!-- ///////////End section divider1////////// -->

<section>
    <div class="features container-fluid">
      <div class="col-md-8 col-md-offset-2 text-center">
        <div class="logo"><h2>Features</h2>
          <p>Within the wedding planner you will be able to create a calendar that you can share with your bridal party, share and find ideas using Pinterest, chat in one central location, create a collaborative todo list, and much more. Convenienve is key to planning a stress free wedding and this app is what you have been waiting for.</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-3 ">
            <div class="hovereffect">
              <img class="img-responsive" src="../frontend-assets/img/jjlove.jpg" alt="">
              <div class="overlay">
                <h2>Calendar</h2>
                <p>Create and sync a calendar for the bridal party</p>
                <a class="info" href="#">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3 ">
            <div class="hovereffect">
              <img class="img-responsive" src="../frontend-assets/img/ring.jpeg" alt="">
              <div class="overlay">
                <h2>Pinterest</h2>
                <p>Create Pinterest boards with the bridal party</p>
                <a class="info" href="#">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3 ">
            <div class="hovereffect">
              <img class="img-responsive" src="../frontend-assets/img/happily.jpeg" alt="">
              <div class="overlay">
                <h2>Message</h2>
                <p>Send messages to the bridal party</p>
                <a class="info" href="#">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3 ">
            <div class="hovereffect">
              <img class="img-responsive" src="../frontend-assets/img/jjlove.jpg" alt="">
              <div class="overlay">
                <h2>Calendar</h2>
                <p>Create and sync a calendar for the bridal party</p>
                <a class="info" href="#">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3 ">
            <div class="hovereffect">
              <img class="img-responsive" src="../frontend-assets/img/happily.jpeg" alt="">
              <div class="overlay">
                <h2>Pinterest</h2>
                <p>Create Pinterest boards with the bridal party</p>
                <a class="info" href="#">Go</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-3 ">
            <div class="hovereffect">
              <img class="img-responsive" src="../frontend-assets/img/ring.jpeg" alt="">
              <div class="overlay">
                <h2>Message</h2>
                <p>Send messages to the bridal party</p>
                <a class="info" href="#">Go</a>
              </div>
            </div>
          </div>
      </div> <!-- / grid row -->
    </div>  
    </div>
</section> <!-- /.features -->


<div class="founder container-fluid">
  <div class="text-center">
    <div class="logo"><h2>Founders</h2>
  	</div>

  	<div class="row">
  		<div class="col-md-6 founder">
  			<img src="../frontend-assets/img/Shirl.jpg">
        <h3>Shirlette Chambers</h3>
        <p>After being a Bridesmaid in more than five weddings and dealing with avoidable issues, Shirlette decided to make the lives of brides and their bridal party much easier by creating an application that will allow for collaborative planning of the wedding, bridal shower and more, all in one central location that all members will have access to. She strongly believes that the one of the happiest days of your life should be the most enjoyed and stress free.</p>
      </div>
  		<div class="col-md-6">
  			<img src="../frontend-assets/img/tam.jpg">
        <h3>Tammara Chambers</h3>
        <p>As a bride-to-be, Tammara needed a way to do all of her planning and keep in contact with her bridal party in a convenient way that would allow for everyone to stay on the same page. Planning a wedding is stressfull enough and not everyone can afford to have an in-person planner to help them along the way. With this application, brides can keep all the details in one place and the bridal party will not miss a beat.</p>
      </div>
  	</div>

  </div>
</div><!-- /.founder -->

<section>

	
</section>



