<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    
          <form class="form-horizontal" action="" method="POST">
          <fieldset>
            <div id="legend">
              <h2 class="">Login</h2>
            </div>
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" id="username" name="username" placeholder="" class="form-control input-lg">
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="form-control input-lg">
              </div>
            </div>
         
            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-default">Login</button>
              </div>
            </div>

            <div>
              <p class="pull-right"><a href="#register">Register</a></p><p><a href="#">Need help?</a></p>
            </div>

            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </fieldset>
        </form>
    
    </div> 
  </div>
</div>