<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		<h2>Wedding Details</h2>
		<h3>Date: </h3>
		<h3>Location: </h3>
		<h3>Budget: </h3>
		<h3>etc: </h3>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
		<h2>Bridal Party</h2>
			<ul>
				<li>
					<img src="#" alt="...">
					<h4>Bridesmaid Name</h4>
					<p>status</p>
				</li>
				<li>
					<img src="#" alt="...">
					<h4>Bridesmaid Name</h4>
					<p>status</p>
				</li>
				<li>
					<img src="#" alt="...">
					<h4>Bridesmaid Name</h4>
					<p>status</p>
				</li>
				<li>
					<img src="#" alt="...">
					<h4>Bridesmaid Name</h4>
					<p>status</p>
				</li>
			</ul>
		</div>

		<div class="col-md-4">
			<h2>To Do</h2>
			<ul>
				<li>item1</li>
				<li>item2</li>
				<li>item3</li>
				<li>item4</li>
				<li>item5</li>
			</ul>
		</div>

	</div>  <!-- close row -->
</div>  <!-- close container -->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h2>Calendar</h2>
			<div>
			<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffccff&amp;src=shirlette.chambers%40gmail.com&amp;color=%232952A3&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FNew_York" style="border-width:0" width="1000" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</div>
</div>  <!-- close container -->