<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
		<h2>Wedding Details</h2>
		<h3>Date: {{date}}</h3>
		<h3>Location: {{location}}</h3>
		<h3>Budget: {{budget}}</h3>
		<h3>etc: {{more}}</h3>
		</div>

		<div id="authorize-div">
      <span>Authorize access to Google Calendar API</span>
      <!--Button for the user to click to initiate auth sequence -->
      <button id="authorize-button" ng-click="handleAuthClick()">
        Authorize
      </button>
    </div>
	
		<div class="col-md-4 maids">
		<h2>Bridal Party</h2>
		<button type="button" class="btn btn-default btn-sm text-center" ng-click="addHer = !addHer">Enter Info</button>
			<ul class="list-group">
				<li ng-repeat="maid in party track by $index" class="list-group-item clearfix">
					<div><img src="../frontend-assets/img/{{maid.img}}" alt="..."></div>
					<div><h4>{{maid.name}}</h4></div>
					<div><p>{{maid.title}}</p></div>
				</li>
			</ul>
		</div>
			<!-- <div class="row">
			<div class="col-md-4 maids"> -->

    <!-- input -->
    <div ng-show="addHer">
            <h4 id="myModalLabel">Enter Information of Bridal Party Member</h4>
          <form class="newMaid" ng-submit="addMaid()">
          <div class="modal-body">
          	<label class="control-label" for="task">Maid Name</label>
            <input ng-model="newMaid.name" type="text" id="maidName" name="maidName" placeholder="" class="form-control">
            <p class="help-block">Enter first and last name</p>
            <br>
            <label class="control-label" for="maidTitle">Maid Title</label>
            <input ng-model="newMaid.title" type="text" id="title" name="title" placeholder="" class="form-control">
            <p class="help-block">Maid of Honor, Brideamaid, etc.</p>
            <br>
            <label class="control-label" for="maidimg">Maid Photo</label>
            <input ng-model="newMaid.img" type="file" id="maidimg" name="maidimg" placeholder="" class="form-control">
            <p class="help-block">upload an image</p>
            <br>
          </div>
          <div class="modal-footer">
          	<button type="submit" class="btn btn-default submit" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">Quit</button>
          </div>
          </form>
        </div>
      </div>
    </div>  <!-- close Modal -->
    </div>
    </div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 calendar">
			<h2>Calendar</h2>
			<div>
			<iframe ng-src="{{calendarID}}"></iframe>
			</div>
		</div>

		<div class="col-md-4 tasks ">
			<h2>To Do</h2>
			<table class="table-striped">
			<thead>
				<tr>
					<th>Task Title</th>
					<th>Who</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="toDo in task track by $index">
					<td><a ng-click="removeTask($index)">{{toDo.title}}</a></td>
					<td>{{toDo.who}}</td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-default btn-sm text-center" ng-click="add = !add">Add task</button>
		</div>
	
          <div ng-show="add">
            <h4 class="modal-title" id="myModalLabel">Enter task for you or the Bridal Party Member</h4>
          <form class="newTodo" ng-submit="addTask()">
          <div class="modal-body">
          	<label class="control-label" for="task">Task</label>
            <input ng-model="newTask.title" type="text" id="task" name="task" placeholder="" class="form-control">
            <br>
            <label class="control-label" for="maidtitle">who?</label>
            <input ng-model="newTask.who" type="text" id="taskwho" name="taskwho" placeholder="" class="form-control">
            <p class="help-block">Who needs to complete this task?</p>
            <br>
          </div>
          <div class="modal-footer">
          	<button type="submit" class="btn btn-default submit" data-dismiss="modal">Submit</button>
            <button type="button" class="btn btn-default closeBtn" data-dismiss="modal">Quit</button>
          </div>
          </form>
        </div>
			</div>  <!-- close tasks -->
		</div>
	</div>
</div>  <!-- close container -->


<script>
	$(function(){
    $('#myFormSubmit').click(function(e){
      e.preventDefault();
      alert($('#myField').val());
      /*
      $.post('http://path/to/post', 
         $('#myForm').serialize(), 
         function(data, status, xhr){
           // do something here with response;
         });
      */
    });
});
</script>