<div class="container-fluid text-center">
  <div class="row">
  	<div class="col-md-6 col-md-offset-3">
    
          <form ng-submit="register()" class="form-horizontal" action="" method="POST">
          <fieldset>
            <div id="legend">
              <h2 class="">Register</h2>
            </div>
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" id="username" name="username" placeholder="" class="form-control input-lg">
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="name">Name</label>
              <div class="controls">
                <input type="text" id="name" name="name" placeholder="" class="form-control input-lg">
                <p class="help-block">Name, first and last</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="email">E-mail</label>
              <div class="controls">
                <input type="email" id="email" name="email" placeholder="" class="form-control input-lg">
                <p class="help-block">Please provide your E-mail</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="form-control input-lg">
                <p class="help-block">Password should be at least 6 characters</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password_confirm">Password (Confirm)</label>
              <div class="controls">
                <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control input-lg">
                <p class="help-block">Please confirm password</p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="wed_date">Wedding Date</label>
              <div class="controls">
                <input type="text" id="wed_date" name="wed_date" placeholder="" class="form-control input-lg">
                <p class="help-block">MM/DD/YYYY</p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="password_confirm">Location</label>
              <div class="controls">
                <input type="text" id="location" name="location" placeholder="" class="form-control input-lg">
                <p class="help-block">Location of Wedding</p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="password_confirm">Budget</label>
              <div class="controls">
                <input type="text" id="budget" name="budget" placeholder="" class="form-control input-lg">
                <p class="help-block">Estimated Budget</p>
              </div>
            </div>
         
            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-default">Register</button>
              </div>
            </div>
          </fieldset>
        </form>
    
    </div> 
  </div>
</div>