/* Coolors Exported Palette - coolors.co/f26c99-d81752-b4843a-c8a693-b1b3b5 */
/* HSL */
/* RGB */
/* line 20, ../compass/sass/styles.scss */
body {
  background-color: #FFF;
  color: #d81752;
  text-align: center;
  margin: 0px;
  position: relative;
}
/* line 26, ../compass/sass/styles.scss */
body h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 200px;
}
/* line 31, ../compass/sass/styles.scss */
body h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}
/* line 35, ../compass/sass/styles.scss */
body h3 {
  font-family: 'Handlee', cursive;
  font-weight: bold;
  font-size: 30px;
}
/* line 40, ../compass/sass/styles.scss */
body h4 {
  font-family: 'Handlee', cursive;
}
/* line 43, ../compass/sass/styles.scss */
body p {
  font-family: 'Handlee', cursive;
  font-size: 17px;
}
/* line 47, ../compass/sass/styles.scss */
body span {
  font-size: 1.5em;
}

/*font-family: 'Unkempt', cursive;  (extra front style)*/
/* line 54, ../compass/sass/styles.scss */
.jumbotron {
  background-image: url("../img/banner.png");
  margin-bottom: 0px;
  margin-top: 0px;
  background-position: 0% 0%;
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  color: #d81752;
}

/* line 66, ../compass/sass/styles.scss */
.jumbotron p {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 200;
}

/* line 72, ../compass/sass/styles.scss */
#nav {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent), url("../img/gold.jpg");
  height: 55px;
  width: 100%;
}
/* line 77, ../compass/sass/styles.scss */
#nav .navbar .container {
  background-color: #b4843a;
  opacity: 0.7;
}
/* line 80, ../compass/sass/styles.scss */
#nav .navbar .container li a {
  color: #d81752;
  opacity: 1;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}
/* line 88, ../compass/sass/styles.scss */
#nav a.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-color: #d81752;
  font-size: 30px;
}
/* line 93, ../compass/sass/styles.scss */
#nav .affix {
  position: fixed;
  top: 0;
  margin-bottom: 20px;
  z-index: 100;
}

/* line 101, ../compass/sass/styles.scss */
.features {
  margin-top: 50px;
}
/* line 103, ../compass/sass/styles.scss */
.features .hovereffect {
  width: 112%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
/* line 111, ../compass/sass/styles.scss */
.features .hovereffect img {
  width: 200%;
}
/* line 117, ../compass/sass/styles.scss */
.features .hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* line 126, ../compass/sass/styles.scss */
.features .hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
/* line 133, ../compass/sass/styles.scss */
.features .hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: grayscale(1) blur(3px);
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 142, ../compass/sass/styles.scss */
.features .hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}
/* line 151, ../compass/sass/styles.scss */
.features .hovereffect p {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 10px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}
/* line 160, ../compass/sass/styles.scss */
.features .hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}
/* line 169, ../compass/sass/styles.scss */
.features .hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
  width: 420px;
}
/* line 174, ../compass/sass/styles.scss */
.features .hovereffect a.info, .features .hovereffect h2, .features .hovereffect p {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}
/* line 186, ../compass/sass/styles.scss */
.features .hovereffect:hover a.info, .features .hovereffect:hover h2, .features .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* line 196, ../compass/sass/styles.scss */
.split img {
  height: 100%;
  width: 160%;
}

/* line 203, ../compass/sass/styles.scss */
.founder img {
  height: 300px;
  width: 200px;
  border-radius: 100%;
}
/* line 208, ../compass/sass/styles.scss */
.founder p {
  font-size: 20px;
}

/* line 213, ../compass/sass/styles.scss */
.section-divider {
  z-index: 999;
  width: 100%;
  display: table;
  max-height: 250px;
  border-bottom: 2px solid #E6EAED;
  box-sizing: border-box;
  margin-top: 45px;
  background-position: center center;
  background-size: 100%;
  background-size: cover;
  background-attachment: relative;
  text-align: center;
  margin-top: 10px;
}
/* line 237, ../compass/sass/styles.scss */
.section-divider .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 245, ../compass/sass/styles.scss */
.divider1 {
  background-image: url(../img/feet.jpg);
  margin-top: 0px;
}

/* line 251, ../compass/sass/styles.scss */
.divider2 {
  background-image: url(../img/treeblossom.jpg);
  margin-top: 0px;
}

/* line 258, ../compass/sass/styles.scss */
.maids img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
/* line 263, ../compass/sass/styles.scss */
.maids li {
  display: inline-block;
  list-style-type: none;
}

/* line 271, ../compass/sass/styles.scss */
section {
  margin: 30px 0px 30px 0px;
}

/* line 275, ../compass/sass/styles.scss */
thead {
  font-size: 20px;
}

/* line 279, ../compass/sass/styles.scss */
tbody, thead {
  margin: 20px;
}

/* line 283, ../compass/sass/styles.scss */
th, td {
  padding: 20px;
}

/* line 287, ../compass/sass/styles.scss */
table {
  margin: auto;
}

/* line 292, ../compass/sass/styles.scss */
footer {
  background-color: #c8a693;
  padding: 20px;
  margin-top: 0px;
}

/* line 299, ../compass/sass/styles.scss */
label {
  font-family: 'Handlee', cursive;
}

/* line 303, ../compass/sass/styles.scss */
.login, .register {
  background-color: white;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

/* line 312, ../compass/sass/styles.scss */
.loginheading {
  text-align: center;
  margin-bottom: 30px;
}

/* line 316, ../compass/sass/styles.scss */
.loginbottomtext {
  text-align: center;
  margin-top: 20px;
}

/* line 320, ../compass/sass/styles.scss */
.pagecontainer {
  margin-top: 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-right: 20px;
}

/* line 328, ../compass/sass/styles.scss */
.pageheader {
  width: 100%;
  height: 60px;
  background-color: #ff6800;
  margin: 0;
  padding: 0;
}

/* line 335, ../compass/sass/styles.scss */
.menubutton {
  color: white;
  background-color: #ff6800;
  border: 0px solid transparent;
  font-size: 20pt;
  margin-top: 10px;
}

/* line 342, ../compass/sass/styles.scss */
.pagetitle {
  color: white;
  margin: 10px;
}

/* line 346, ../compass/sass/styles.scss */
.contentheight {
  height: 300px;
}

/* line 353, ../compass/sass/styles.scss */
.thumbnailOption img {
  padding: 5px;
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /* line 369, ../compass/sass/styles.scss */
  section {
    width: 100%;
  }
  /* line 371, ../compass/sass/styles.scss */
  section img.profileImg {
    max-height: 425px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 379, ../compass/sass/styles.scss */
  section {
    width: 100%;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* line 386, ../compass/sass/styles.scss */
  section {
    width: 100%;
    float: none;
  }
}
