/* Coolors Exported Palette - coolors.co/f26c99-d81752-b4843a-c8a693-b1b3b5 */
/* HSL */
/* RGB */
/* line 20, ../compass/sass/styles.scss */
body {
  background-color: #FFF;
  color: #d81752;
  text-align: center;
  margin: 0px;
  position: relative;
}
/* line 26, ../compass/sass/styles.scss */
body h1 {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 200px;
}
/* line 31, ../compass/sass/styles.scss */
body h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}
/* line 35, ../compass/sass/styles.scss */
body h3 {
  font-family: 'Handlee', cursive;
  font-weight: bold;
}
/* line 39, ../compass/sass/styles.scss */
body h4 {
  font-family: 'Handlee', cursive;
}
/* line 42, ../compass/sass/styles.scss */
body p {
  font-family: 'Handlee', cursive;
}
/* line 45, ../compass/sass/styles.scss */
body span {
  font-size: 1.5em;
}

/*font-family: 'Unkempt', cursive;  (extra front style)*/
/* line 52, ../compass/sass/styles.scss */
.jumbotron {
  background-image: url("../img/banner.png");
  margin-bottom: 0px;
  margin-top: 0px;
  background-position: 0% 0%;
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  color: #d81752;
}

/* line 64, ../compass/sass/styles.scss */
.jumbotron p {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 200;
}

/* line 70, ../compass/sass/styles.scss */
#nav {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent), url("../img/gold.jpg");
  height: 55px;
  width: 100%;
}
/* line 75, ../compass/sass/styles.scss */
#nav .navbar .container {
  background-color: #b4843a;
  opacity: 0.7;
}
/* line 78, ../compass/sass/styles.scss */
#nav .navbar .container li a {
  color: #d81752;
  opacity: 1;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}
/* line 86, ../compass/sass/styles.scss */
#nav a.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-color: #d81752;
  font-size: 30px;
}
/* line 91, ../compass/sass/styles.scss */
#nav .affix {
  position: fixed;
  top: 0;
  margin-bottom: 20px;
  z-index: 100;
}

/* line 99, ../compass/sass/styles.scss */
.features {
  margin-top: 50px;
}
/* line 101, ../compass/sass/styles.scss */
.features img {
  height: 200px;
  width: 300px;
}

/* line 108, ../compass/sass/styles.scss */
.split img {
  height: 400px;
  width: 600px;
}

/* line 115, ../compass/sass/styles.scss */
.founder img {
  height: 300px;
}

/* line 120, ../compass/sass/styles.scss */
.section-divider {
  z-index: 999;
  width: 100%;
  display: table;
  max-height: 450px;
  border-bottom: 2px solid #E6EAED;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 70px;
  margin-top: 45px;
  background-position: center center;
  background-size: 100%;
  background-size: cover;
  background-attachment: relative;
  text-align: center;
}
/* line 145, ../compass/sass/styles.scss */
.section-divider .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 153, ../compass/sass/styles.scss */
.divider1 {
  background-image: url(../img/feet.jpg);
  margin-top: 0px;
}

/* line 159, ../compass/sass/styles.scss */
.divider2 {
  background-image: url(../img/treeblossom.jpg);
  margin-top: 0px;
}

/* line 164, ../compass/sass/styles.scss */
section {
  margin: 30px 0px 30px 0px;
}

/* line 169, ../compass/sass/styles.scss */
footer {
  background-color: #c8a693;
  padding: 10px;
}

/* line 175, ../compass/sass/styles.scss */
.login, .register {
  background-color: white;
  width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 5%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

/* line 184, ../compass/sass/styles.scss */
.loginheading {
  text-align: center;
  margin-bottom: 30px;
}

/* line 188, ../compass/sass/styles.scss */
.loginbottomtext {
  text-align: center;
  margin-top: 20px;
}

/* line 192, ../compass/sass/styles.scss */
.pagecontainer {
  margin-top: 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-right: 20px;
}

/* line 200, ../compass/sass/styles.scss */
.pageheader {
  width: 100%;
  height: 60px;
  background-color: #ff6800;
  margin: 0;
  padding: 0;
}

/* line 207, ../compass/sass/styles.scss */
.menubutton {
  color: white;
  background-color: #ff6800;
  border: 0px solid transparent;
  font-size: 20pt;
  margin-top: 10px;
}

/* line 214, ../compass/sass/styles.scss */
.pagetitle {
  color: white;
  margin: 10px;
}

/* line 218, ../compass/sass/styles.scss */
.contentheight {
  height: 300px;
}

/* line 225, ../compass/sass/styles.scss */
.thumbnailOption img {
  padding: 5px;
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /* line 241, ../compass/sass/styles.scss */
  section {
    width: 100%;
  }
  /* line 243, ../compass/sass/styles.scss */
  section img.profileImg {
    max-height: 425px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 251, ../compass/sass/styles.scss */
  section {
    width: 100%;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* line 258, ../compass/sass/styles.scss */
  section {
    width: 100%;
    float: none;
  }
}
